.AnchorPane {
	-fx-background: linear-gradiente(to right, rgb(20, 147, 220), rgb(17, 54, 71));
}
.button:hover {
	-fx-background-color: #07f7f7;
}
.button {
	-fx-background-color: white;
	-fx-background-radius: 25px;
}
.TextFiel {
	-fx-background-color: white;
	-fx-background-radius: 25px;
}
.DataPicker {
	-fx-background-color: white;
}
.ComboBox {
	-fx-background-color: white;
}
