.AnchorPane {
	-fx-background: linear-gradiente(to right, rgb(20.0, 147.0, 220.0), rgb(17.0, 54.0, 71.0));
	
}
.button:hover {
	-fx-background-color: #07f7f7;
}
.button {
	-fx-background-color: white;
}
.TableView {
	-fx-backgroung: linear-gradiente(to left, rgb(20.0, 147.0, 220.0), rgb(17.0,54.0,71.0));
}
.Label {
	-fx-fill: white;
}